<h2>SE3352 Tutorials</h2>
<P>
  Description: This site is created to manage student records. There are 9 functionalities:
  <ul>
    <li>Save: to save any changes made of the student record. Button at bottom of each record</li>
    <li>Undo: to rollback one recent change</li>
    <li>First Record: brings data of the first student</li>
    <li>Previous Record: brings data of the previous student</li>
    <li>Next Record: brings data of the next student</li>
    <li>Last Record: brings data of the last student</li>
    <li>All: displays a list of all student </li>
    <li>Find Record: Search the students' database to retrieve an individual student information</li>
  </ul>
</P>


<br><br><br>

